doctype html
html(lang="en")
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
		script(src='/js/script.js')
	body
		#header
			block headerdiv
		#first
			block firstdiv
		#second
			block seconddiv
		#footer
			block footerdiv
