/* define a font style for all body text */
body {
    font-family: "Calibri", Courier, "sans-serif";
    }

/* define how to display all unvisited links */
a:link {
    text-decoration: none;
    color:#919191;
    }
/* define how to display all visited links */
a:visited {
    text-decoration: none;
    color:#919191;
    }
/* define how to display all links when the link is hovered over */
a:hover {
    text-decoration: underline;
    color:#c7c7c7;
    }
/* define how to display all links when the link is being clicked */
a:active {
    text-decoration: underline;
    color:#c7c7c7;
    }

/* define how to display the header div */
div#header {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 870px;
    height: 350px;
    padding: 5px;
    }

/* define how to display the first div after the header */
div#first {
    position: absolute;
    top: 380px;
    left: 20px;
    width: 500px;
    height: 420px;
    padding: 5px;
    float: left;
    }

/* define how to display the second div after the header */
div#second {
    position: absolute;
    top: 380px;
    left: 540px;
    width: 350px;
    height: 420px;
    float: left;
    padding: 5px;
    }

/* define how to display the footer div */
div#footer {
    position: absolute;
    top: 820px;
    left: 20px;
    width: 870px;
    clear: both;
    padding: 5px;
    }

/* define how to display the profile image */
img#profile {
    float: right;
    height: 240px;
    margin-right: 10px;
    }

/* define how to display the div that contains the image slideshow */
div#image_slideshow {
    float: right;
    }

/* define how to display the textareas that show different facts */
textarea.imageInfo {
    width: 300px;
    height: 100px;
    border: 3px solid #ccc;
    max-width: 320px;
    max-height: 120px;
    padding: 5px;
    }

/* define how to display the table containing the likes */
table#likes {
    width: 830px;
    margin-left: 10px;
    }

/* general styling for tables and table data elements */
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
