doctype html
html(lang="en")
        head
                title #{title}
                link(rel='stylesheet', href='/css/style.css')
                script(src='/js/script.js')
                script(src='/js/jquery.js')
                script(src='http://code.highcharts.com/highcharts.js')
                script(src='http://code.highcharts.com/modules/exporting.js')
        body
                #header
                        block headerdiv
                #first
                        block firstdiv
                #second
                        block seconddiv
                #footer
                        block footerdiv
